prelogin {
    a {
        margin-top: 25%;
    }
}

login {
    .btn {
        background-color: #26a69a !important;
    }
}
register {
    .btn {
        background-color: #26a69a !important;
    }
}