body {
    background-color: #eafffd
}

.main-content {
    top: 64px;
    position: relative;
    
    :first-child > section {
        position: relative;
        min-height: 82.5vh;
    }
    .container {
        padding-bottom: 100px;
    }
}

a, i {
    color: inherit;
    cursor: pointer;
}

hr {
    background-color: #009688;
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    height: 1em;
    margin: 2.5em 0;
}
img.responsive-img {
    max-width: 200px;
    max-height: 200px;
}

.ng-animate {
    transition:0s linear all;
}
.ng-enter {
    opacity:0;
}
.ng-enter.ng-enter-active {
    opacity:1;
}
.ng-leave {
    opacity:1;
}
.ng-leave.ng-leave-active {
    opacity:0;
}